<footer class="bg-dark-grey flex-cont wrap space-evenly">
  <div class="font-white text-align-c mt-3 w-50-tablet w-25-desktop">
    <h3 class="pt-1 font-bold font-large">CONTACTANOS FACIL</h3>
    <p class="pt-1 font-medium">4897-5587</p>
    <p class="pt-1 font-medium">consultas.home@decohome.com.ar</p>
  </div>

  <div class="font-white text-align-c mt-3 w-50-tablet w-25-desktop">
    <div class="flex-cont wrap space-evenly">
      <h3 class="pt-1 font-bold font-large w-100">REDES</h3>
      <a href="https://www.instagram.com" target="_blank" class="font-white"
        ><i class="fab fa-instagram pt-1 font-medium"></i
      ></a>
      <a href="https://www.facebook.com" target="_blank" class="font-white"
        ><i class="fab fa-facebook-f pt-1 font-medium"></i
      ></a>
      <a href="https://www.twitter.com" target="_blank" class="font-white"
        ><i class="fab fa-twitter pt-1 font-medium"></i
      ></a>
      <a href="https://www.pinterest.com" target="_blank" class="font-white"
        ><i class="fab fa-pinterest-p pt-1 font-medium"></i
      ></a>
    </div>
  </div>

  <div class="font-white text-align-c mt-3 w-50-tablet w-25-desktop">
    <h3 class="pt-1 font-bold font-large">INFORMACION</h3>
    <p class="pt-1 font-medium">Terminos y condiciones</p>
    <p class="pt-1 font-medium">Cambios y condiciones</p>
    <p class="pt-1 font-medium">Nuestros locales</p>
    <p class="pt-1 font-medium">Contactenos</p>
  </div>

  <div class="font-white text-align-c mt-3 w-50-tablet w-25-desktop">
    <h3 class="pt-1 font-bold font-large">DECOHOGAR</h3>
    <p class="pt-1 font-medium">Cocina</p>
    <p class="pt-1 font-medium">Living</p>
    <p class="pt-1 font-medium">Habitacion</p>
    <p class="pt-1 font-medium">Decoracion</p>
  </div>
</footer>
<!--BOOTSTRAP -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
