<footer class="font-small flex-cont fx-wrap">
  <div class="pt-1 w-100 p-lateral-5">
    <h2>Navegación</h2>
    <ul class="flex-cont fx-wrap space-between">
      <a href="/"><li class="li w-50 p-lateral-5 mt-1">Home</li></a>
      <li class="li w-50 p-lateral-5 mt-1">Productos</li>
      <li class="li w-50 p-lateral-5 mt-1">Locales</li>
      <li class="li w-50 p-lateral-5 mt-1">Quiénes Somos</li>
      <li class="li w-50 p-lateral-5 mt-1">Preguntas Frecuentes</li>
      <li class="li w-50 p-lateral-5 mt-1">Contacto</li>
    </ul>
  </div>
  <!--      <div class="pt-5 w-100 p-lateral-5">
      <h2>Medios de pago</h2>
      <div class="pt-1">
        <img src="/images/medios_pago/visa.png" class="w-img-mp p-lateral-1" />
        <img
          src="/images/medios_pago/americanexpress.png"
          class="w-img-mp p-lateral-1"
        />
        <img
          src="/images/medios_pago/dinersclub.png"
          class="w-img-mp p-lateral-1"
        />
        <img
          src="/images/medios_pago/mastercard.png"
          class="w-img-mp p-lateral-1"
        />
        <img src="/images/medios_pago/paypal.png" class="w-img-mp p-lateral-1" />
        <img src="/images/medios_pago/worldpay.png" class="w-img-mp p-lateral-1" />
        <img src="/images/medios_pago/maestro.png" class="w-img-mp p-lateral-1" />
        <img
          src="/images/medios_pago/westernunion02.png"
          class="w-img-mp p-lateral-1"
        />
      </div>
    </div>
    -->

  <div class="mt-3 w-100 p-lateral-5">
    <h2>Contactanos</h2>
    <div class="flex-cont fx-wrap">
      <div class="p-lateral-5 mt-1">
        <i class="fas fa-phone"></i> <span>4897-5587</span>
      </div>
      <div class="p-lateral-5 mt-1">
        <i class="fas fa-at"></i>
        <span>consultas.home@decohome.com.ar</span>
      </div>
    </div>
  </div>
  <div class="mt-3 w-100 p-lateral-5">
    <h2>Seguinos en redes</h2>
    <p class="font-medium font-xlarge mt-1">
      <i class="fab fa-instagram p-lateral-5"></i>
      <i class="fab fa-facebook-f p-lateral-5"></i>
      <i class="fab fa-twitter p-lateral-5"></i>
      <i class="fab fa-pinterest-p p-lateral-5"></i>
    </p>
  </div>
</footer>
