<header>
  <div class="paga-en-ctas">
    <p class="m-center mt-1">
      <i class="far fa-credit-card"></i> Pagá en hasta 12 cuotas sin interés y
      recibí los productos sin moverte de casa
    </p>
  </div>
  <section class="bg-white header-flex">
    <div class="burger-menu font-xlarge">
      <i class="fas fa-bars bg-light-blue font-gray"></i>
    </div>
    <h1 class="text-align-c w-40">
      <a href="/"
        ><img src="/images/logo2.PNG" alt="Deco Home" class="w-60"
      /></a>
    </h1>

    <div class="header-iconos">
      <a href="#" class="decoration-none">
        <i class="fas fa-search font-gris-claro font-xmedium"> </i>
      </a>
      <a href="#" class="decoration-none ">
        <div class="flex-cont mlr-5">
        <i class="fas fa-heart decoration-none font-gris-claro font-xmedium">
        </i>
        </div>
      </a>

      <a href="/carritocompras" class="decoration-none">
          <div class="flex-cont mlr-5">
          <i class="fas fa-shopping-cart font-gris-claro font-xmedium"></i>
        </div>
      </a>


      <% if(locals.isLogged) {%>
      <a href="/users/" class="decoration-none">
        <div class="flex-cont mlr-5">
          <i class="fas fa-user font-gris-claro font-xmedium"></i>
 
        </div>
      </a>
      <%} else {%>      
        <a href="/users/login" class="decoration-none">
        <div class="flex-cont mlr-5">
          <i class="fas fa-user font-gris-claro font-xmedium"></i>
        </div>
      </a>
      <% } %>

      <% if(locals.isLogged) {%>
       <a href="/users/logout" class="decoration-none mlr-5" alt="Cerrar Sesión">
        <i
          class="fas fa-sign-out-alt font-gris-claro font-xmedium"
          alt="Cerrar Sesión">
        </i>
      </a>
      <% } %>
    </div>
  </section>
</header>
