<header>
    <div class="paga-en-ctas">
        <p><i class="far fa-credit-card"></i> Pagá en hasta 12 cuotas sin interés y recibí
             los productos sin moverte de casa
        </p>
    </div> 
    <section class="bg-white header-flex" >
        <div class="burger-menu font-xlarge">
            <i class="fas fa-bars bg-light-blue font-gray " ></i>
        </div>
        <h1 class="text-align-c w-40">
            <a href="/"><img src="/images/logo3.png" alt="Deco Home" class = "w-100"></a>
        </h1>
        <div class="header-iconos fx-justify-end">
            <a href = "#" class = "decoration-none disp-block"> <i class="fas fa-search font-gris-claro p-lateral-8  font-xmedium"> </i> </a> 
            <a href = "#" class = "decoration-none disp-block"> <i class="fas fa-heart  decoration-none font-gris-claro p-lateral-8  font-xmedium"> </i> </a>
            <a href = "/login" class = "decoration-none disp-block"> <i class="fas fa-user font-gris-claro p-lateral-8  font-xmedium "> </i> </a> 
            <a href = "/carritocompras" class = "decoration-none disp-block"> <i class="fas fa-shopping-cart font-gris-claro  font-xmedium"></i> </a>
        </div>
    </section>
</header>