<!DOCTYPE html>
<html lang="en">
<!--HEAD -->
<%- include('./partials/head') %>
<body>
    <!--HEADER -->
    <%- include('./partials/header') %>

    <form action="" method="">
        <div> 
            <h2>ALTA O MODIFICACION PRODUCTOS             </h2> 
            <label for="alta-modificacion">  
                <input id="alta-modificacion" type="checkbox" name="alta o modificacion productos" 
                value="alta" checked>  Cargar producto nuevo </label>
            <label for="alta-modificacion">  
                <input id="alta-modificacion" type="checkbox" name="alta o modificacion productos" 
                value="modificacion">  Modificar producto existente </label>
        </div>

ALTA O MODIFICACION
cargar producto nuevo / modificar producto existente

PRODUCTO
nombre producto:
ID Producto:

CATEGORIA
seleccionar uno / desplegable
categoria: muebles/ textiles / vajilla / accesorios / iluminación / otros 
seleccionar vs
ambiente: cocina, living, dormitorio, infantil, comedor, estudio, baños, exteriores, playroom / otros
seleccionar vs
estilo: boho chic / mid century modern / industrial / nordico / minimalista / otros

PRECIO
precio contado:
cantidad de cuotas: desplegable    precio cuota:
ofrece envio gratis: si/no 

IMAGEN
Cargar imagen:

DESCRIPCION
Descripcion del producto:
Medidas:
Color:
Detalles:
InfoExtra:

        </section>
    </form>

    <!--FOOTER -->
    <%- include('./partials/footer') %>   

</body>
</html>