<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco Home</title>
    <!-- Fuentes  a usar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <!--CSS media queries-->
</head>
<body class="bg-ligth-gray">
    <header>
        <div class="paga-en-ctas">
            <p><i class="far fa-credit-card"></i> Pagá en hasta 12 cuotas sin interés y recibí
                 los productos sin moverte de casa
            </p>
        </div> 
        <section class="bg-white header-flex" >
            <div class="burger-menu font-xlarge">
                <i class="fas fa-bars bg-light-blue font-gray font-size" ></i>
            </div>
            <h1 class="logo text-align-c">
                <a href="/"></a><img src="/images/logo3.png" alt="Deco Home" class = "w-50"></a>
            </h1>
            <div class="header-iconos flex-box ">
                <a href = "#" class = "estilo disp-block"> <i class="fas fa-search font-gris-claro p-lateral-8 font-size m-5"> </i> </a> 
                <a href = "#" class = "estilo disp-block"> <i class="fas fa-heart  estilo font-gris-claro p-lateral-8 font-size m-5"> </i> </a>
                <a href = "/login" class = "estilo disp-block"> <i class="fas fa-user font-gris-claro p-lateral-8 font-size m-5 "> </i> </a> 
                <a href = "/carritocompras" class = "estilo disp-block"> <i class="fas fa-shopping-cart font-gris-claro font-size m-5"></i> </a>
            </div> 
        </section>
                
    </header>
    <main>
        <form action = "/carritocompras" method="get"></form>
        <section class="section-categorias" >
            <select name="" id="categorias">
                <option value="">Categorías</option>
                <option value="">Biblioteca</option>
                <option value="">Racks</option>
                <option value="">Mesitas de Luz</option>
                <option value="">Sillones</option>
                <option value="">Mesas</option>
                <option value="">Sillas</option>
            </select>
        </section> 
        <section>
            <h2 class = "pd-5 font-xlarge font-bold">  Carrito de compras </h2>
            <div class = "p-lateral-8 flex-box"> 
                <div>
                    <div class = "flex-box" >  
                        <p class ="p-2 font-xmedium "> Inicio / </p>
                        <p class ="p-2 font-xmedium font-bold"> Bibleoteca </p>
                    </div>
                    <img src="/images/mueble.PNG" alt="Deco Home" class="articulos w-70">
                </div>
                <div class = "text-img-carrito w-30">
                    <div class="p-8">
                        <label > Estilo </label>
                        <select name="Estilo">
                            <option value="Nordico"> Nordico </option>
                            <option value="Venecia"> Venecia </option>
                            <option value="Roma"> Roma </option>
                        </select>
                    </div>
                    <div class="p-8" >
                        <label> Cantidad </label>
                        <select name="Cantidad">
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                            <option value="3"> 3 </option>
                            <option value="4"> 4 </option>
                            <option value="5"> 5 </option>
                        </select>
                    </div>
                    <div class="p-8">
                        <h4> Caracteristicas del producto </h4>
                            <p class = "text-medidas"> Ancho: 1 m </p>
                            <p class = "text-medidas"> Alto: 2 m </p>
                            <p class = "text-medidas"> Profundidad: 0.25 m </p>
                    </div>
                    <div class="p-8">
                        <label> Es un regalo </label>
                        <input  type = "radio">
                    </div>
                </div>    
            </div>

            <p class = "font-bold font-xmedium mtb-10">Ingrese aqui tu codigo postar para calcular costo de envio:</p>
            <div class = "flex-box">
                <div class = "w-50">
                    <input type="text" name="codigo-postal" class = "barra-cp w-100">
                </div>
                <div class = "w-50" >
                    <button type = "submit" class="boton-costo-envio w-100"> Calcular costo de envio </button>
                </div>
            </div>

            <div class = "bg-white font-xlarge w-80 text-align-c ">
                <p class = "font-black"> Subtotal: $ 15.000</p>
                <p class = "font-black font-bold"> Total: $ 15.000</p>
                <form action ="/" method="get">
                    <button type = "submit" class = "boton-seguir-comprando"> Agregar al carrito y seguir comprando </button>
                </form>
            </div>
            <p>Inicio -> Aca va el breadcrumb -> blabla </p>

        </section>
        <section>
            <p> Al registrarte obtendras un 15 % de descuento en tu primera compra</p>
            <div class="flex-captcha">
                <input
                  type="checkbox"
                  name="captcha"
                  id="captcha"
                  class="captcha"
                  placeholder="*********"/>
                <label for="pass" class="norobot">No soy un robot</label>
                <img
                  src="/images/captcha.png"
                  alt=""
                  class="img-captcha w-20 "/>
              </div>
              <div class="mt-3">
                <button
                  type="submit"
                  class="button w-100 bg-pink font-white font-xlarge font-bold">

        </section>
        <section>
            <p class = "font-medium font-bold font-orange ">Recordá que al iniciar la compra, tendrás un 30%off sobre el total, pagando por transferencia</p>
            <form action ="/pepito" method="get"></form>
            <div class = "flex-box justify-content">
                <button type = "submit" class = "boton-iniciar-compra"> INICIAR COMPRA  </button>
            </div>
            <div class = "text-align-c pb-5 ">
                <i class="fas fa-truck font-xlarge pb-2 "></i>
                <p class = "font-medium font-bold pb-2 "> ENVIOS A TODO EL PAIS </p>
                <p class = "font-medium pb-2 "> Retira gratis por nuestras sucursales </p>
            </div>
            <div class = "text-align-c pb-5 ">
                <i class="fas fa-credit-card font-xlarge pb-2 "></i>
                <p class = "font-medium font-bold pb-2 "> PAGA EN CUOTAS SIN INTERES </p>
                <p class = "font-medium pb-2 "> Tarjetas de credito o efectivo </p>
            </div>
            <div class = "text-align-c pb-5 ">
                <i class="fas fa-lock font-xlarge pb-2 " > </i>
                <p class = "font-medium font-bold pb-2 "> SITIO SEGURO </p>
                <p class = "font-medium pb-2 "> Protegemos tus datos </p>
            </div>

        </section>
    </form>
    </main>
    <footer>
        <p>footer del body</p>
    </footer>
</body>
</html>