<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD -->
    <%- include('./partials/head') %>
</head>
  <body>
    <!--HEADER -->
    <%- include('./partials/header') %>

    <!--MAIN -->
    <main>

    <!--CAROUSEL CATALOGO -->
    <div > 
        <div id="carouselCatalogo" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <!--Boton ANCHOR PRODUCT 2 ESTANTERIA -->
                <a class="button-estanteria" href="/products/2">
                  <i class="fas fa-plus-circle"></i>
                </a>  
                <!--Boton ANCHOR PRODUCT 1 LAMPARA GALPONERA -->
                <a class="button-lamp" href="/products/1">
                  <i class="fas fa-plus-circle"></i>
                </a>
                <!--Boton ANCHOR PRODUCT 3 SILLA TOLIX -->
                <a class="button-tolix" href="/products/3">
                <i class="fas fa-plus-circle"></i>
                </a>
                <!--Boton ANCHOR PRODUCT 7 JARRA PORCELANA -->
                <a class="button-jarra" href="/products/7">
                <i class="fas fa-plus-circle"></i>
                </a>
                <!--Boton ANCHOR PRODUCT 8 set ensaladera -->
                <a class="button-set-ensaladera" href="/products/8">
                <i class="fas fa-plus-circle"></i>
                </a>
                
                <img src="/images/catalogo/AdobeStock_188191506_Preview.jpeg" class="d-block w-100" alt="Pagina 1">
              </div>
              <div class="carousel-item">
                <img src="/images/catalogo/AdobeStock_271582547_Preview.jpeg" class="d-block w-100" alt="Pagina 2">
              </div>
              <div class="carousel-item">
                <img src="/images/catalogo/AdobeStock_405881284_Preview.jpeg" class="d-block w-100" alt="Pagina 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCatalogo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCatalogo" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
      </div>  
    </div>
        
   <!--fin slide catalogo-->  
 
     <!--<div class="barra-catalogo">
        <i class="fas fa-chevron-circle-left"></i>
        <h4>Página 1</h4>
        <i class="fas fa-chevron-circle-right"></i>
      </div> --> 
    </main>
    <!--FOOTER -->
    <%- include('./partials/footer') %>
  </body>
</html>
