<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD -->
    <%- include('./partials/head') %>
</head>
  <body>
    <!--HEADER -->
    <%- include('./partials/header') %>

    <!--MAIN -->
    <main>
      <section class="catalogo">
        <!--Boton ANCHOR PRODUCT 2 ESTANTERIA -->
        <a class="button-estanteria" href="/products/2">
          <i class="fas fa-plus-circle"></i>
        </a>
        <!--Boton ANCHOR PRODUCT 1 LAMPARA GALPONERA -->
        <a class="button-lamp" href="/products/1">
          <i class="fas fa-plus-circle"></i>
        </a>
        <!--Boton ANCHOR PRODUCT 3 SILLA TOLIX -->
        <a class="button-tolix" href="/products/3">
          <i class="fas fa-plus-circle"></i>
        </a>
        <!--Boton ANCHOR PRODUCT 7 JARRA PORCELANA -->
        <a class="button-jarra" href="/products/7">
          <i class="fas fa-plus-circle"></i>
        </a>
        <!--Boton ANCHOR PRODUCT 8 set ensaladera -->
        <a class="button-set-ensaladera" href="/products/8">
          <i class="fas fa-plus-circle"></i>
        </a>
        <img
          class="imagen-catalogo"
          src="/images/catalogo/AdobeStock_188191506_Preview.jpeg"
          alt="pagina 1"
        />
      </section>
      <div class="barra-catalogo">
        <i class="fas fa-chevron-circle-left"></i>
        <h4>Página 1</h4>
        <i class="fas fa-chevron-circle-right"></i>
      </div>
    </main>
    <!--FOOTER -->
    <%- include('./partials/footer') %>
  </body>
</html>
