<!DOCTYPE html>
<html lang="en">
  <!--HEAD -->
  <%- include('./partials/head') %>
  <body>
    <!--HEADER -->
    <%- include('./partials/header') %>

    <!--MAIN -->
    <main>
      <section class="catalogo">
        <a class="button-estanteria" href="/producto-biblioteca">
          <i class="fas fa-plus-circle"></i>
        </a>
        <a class="button-lamp" href="/producto-lamp">
          <i class="fas fa-plus-circle"></i>
        </a>
        <a class="button-tolix" href="/producto-silla">
          <i class="fas fa-plus-circle"></i>
        </a>

        <img
          class="imagen-catalogo"
          src="/images/catalogo/AdobeStock_188191506_Preview.jpeg"
          alt="pagina 1"
        />
      </section>
      <div class="barra-catalogo">
        <i class="fas fa-chevron-circle-left"></i>
        <h4>Página 1</h4>
        <i class="fas fa-chevron-circle-right"></i>
      </div>
    </main>
    <!--FOOTER -->
    <%- include('./partials/footer') %>
  </body>
</html>
