<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD -->
    <%- include('./partials/head') %>

</head>
<body>
    <!--HEADER -->
    <%- include('./partials/header') %>

    <!--MAIN -->
    <main>
        <div class="banner"> <a href="/catalogo"> <h3> Mirá nuestro nuevo catálogo: ESPECIAL COCINAS</h3> </div>
            <!--seccion slide del catalogo -->
            <div id="carouselCatalogo" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/images/catalogo/kitchenware-on-the-wall.jpg" class="d-block w-100" alt="Cocina">
                    </div>
                    <div class="carousel-item">
                      <img src="/images/catalogo/retro-bathroom-authentic-interior-design.jpg" class="d-block w-100" alt="Baño">
                    </div>
                    <div class="carousel-item">
                      <img src="/images/catalogo/AdobeStock_405881284_Preview.jpeg" class="d-block w-100" alt="Cocina">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCatalogo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselCatalogo" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                  </button>
                </div>
            </div>
         <!--fin slide catalogo-->       
        <div class="ofertas-descuentos">
            <a href="/ofertas"><h3> OFERTAS & DESCUENTOS </h3> <p> SHOP</p></a>
        </div>

        <div class="nuevos-ingresos"> 
            <a href="/ingresos"><h3> NUEVOS INGRESOS</h3> <p> SHOP</p></a>
        </div>

        <div class="mas-notas">
            <h3> ULTIMAS EDITORIALES: </h3>
            <a href="/ultimas-tendencias-livings">  
                <h2 class="ultimas-tendencias"> Modernizá tu living con las últimas tendencias </h2>
            </a>
            <img src='/images/living/AdobeStock_301581906_Preview.jpeg' alt="Últimas-tendencias-livings">
        </div>

    </main>

    <!--FOOTER -->
    <%- include('./partials/footer') %>
    
</body>
</html>