<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco Home</title>
    <!-- Fuentes  a usar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=Open+Sans:wght@300;500;700&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
    <!--CSS media queries-->
</head>
<body>
    <header>
        <div class="paga-en-ctas">
            <p><i class="far fa-credit-card"></i> Pagá en hasta 12 cuotas sin interés y recibí
                 los productos sin moverte de casa
            </p>
        </div> 
        <section class="bg-white header-flex" >
            <div class="burger-menu font-xlarge">
                <i class="fas fa-bars bg-light-blue font-gray" ></i>
            </div>
            <h1 class="logo text-align-c">
                <img src="/images/logo2-2.jpg" alt="Deco Home" class = "w-50">
            </h1>
            <div class="header-iconos">
                <i class="fas fa-search w-50"> </i> <p> Iniciar Sesion</p>
                <i class="fas fa-heart w-50"></i>
                <i class="fas fa-shopping-cart w-50"></i> </div> 
        </section>
                
    </header>
    <main>
        <div class="banner"> <a href="/cocinas"> <h3> Especial cocinas MIRÁ TODO LO NUEVO</h3> </div>
        <img src = '\images\kitchen\kitchenware-on-the-wall.jpg' alt="especial cocinas"> </a>
       
        <div class="ofertas-descuentos">
            <a href="/ofertas"><h3> OFERTAS & DESCUENTOS </h3> <p> SHOP</p></a>
        </div>

        <div class=" nuevos-ingresos"> 
            <a href="/ingresos"><h3> NUEVOS INGRESOS</h3> <p> SHOP</p></a>
        </div>

        <div class="mas-notas">
            <h3> ULTIMAS EDITORIALES: </h3>
        </div>
        
        <div> <a href="/ultimas-tendencias-livings">  <h2> Modernizá tu living con las últimas tendencias </h2>
            <img src='\images\living\AdobeStock_301581906_Preview.jpeg' alt="Últimas-tendencias-livings"></a>
        </div>

    </main>
    <footer>
        <div class="contacto">             
            <h3>Telefono de contacto: 4897-5587</h3>
            <h3> Consulta a nuestro mail: consultas.home@decohome.com.ar</h3></div>
        
        <div class="redes">
            <h3> Seguinos en redes </h3>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest-p"></i>            
        </div>

    </footer>
</body>
</html>