<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco Home</title>
    <!-- Fuentes  a usar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
    <!--CSS media queries-->
</head>
<body class="bg-ligth-gray">
    <header>
        <hr>
        <div class="bg-black font-white font-small text-align-c">
            <p class="p-5 ">Pagá en hasta 12 cuotas sin interés 
                <i class="far fa-credit-card font-yellow"></i>
                y recibí los productos sin moverte de casa
                <i class="fas fa-truck font-red"></i>
            </p>
        </div> 
        <section class="bg-white header-flex" >
            <div class="burger-menu font-xlarge">
                <i class="fas fa-bars bg-light-blue font-gray" ></i>
            </div>
            <h1 class="logo text-align-c">
                <img src="/images/logo2-2.jpg" alt="Deco Home" width="60%">
            </h1>
            <div class="header-iconos">
                <i class="fas fa-search"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </section>
    </header>
    <main>
        <section class="section-categorias" >
            <select name="" id="categorias">
                <option value="">Categorías</option>
            </select>
        </section> 
        <section>
            <p>Inicio -> Aca va el breadcrumb -> blabla </p>
        </section>
        <section>
            <p>Mensaje de beneficio de registrarse</p>
            <p> Aca deben ir los inputs</p>
            <p>Aca va no soy un robot</p>
            <p>aca boton de crear cuenta</p>
        </section>
        <section>
            <p>Inicia sesion</p>
            <p>envio a todo el pais</p>
        </section>
    </main>
    <footer>
        <p>footer del body</p>
    </footer>
</body>
</html>