.catalogo-p-1{
    width: 100%;
}
main {
    margin-top: 105px;
}

.catalogo{
    position:relative;
}

.button-estanteria{
    z-index: 1;
    position: absolute;
    left: 220px;
    top: 80px; 
    font-size: 30px;
    color: #c44cb4;
}

