.imagen-catalogo{
    width: 100%;
}

.catalogo{
    position:relative;
    margin: auto;
}
header{
    z-index: 10;
}

.button-estanteria{
    z-index: 1;
    position: absolute;
    left: 60%;
    top: 35%; 
    font-size: 20px;
    color: #c44cb4 ;
    border: none;
}

.button-lamp{
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 20%; 
    font-size: 20px;
    color:#c44cb4;
}

.button-tolix{
    z-index: 1;
    position: absolute;
    left: 17%;
    top: 82%; 
    font-size: 20px;
    color:#c44cb4;
}

.barra-catalogo{ 
  background-color:  #d56b27;
  color: #f3eeed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.barra-catalogo h4{
    margin: 0px 50px;
}  

.button-jarra{
    z-index: 1;
    position: absolute;
    left: 66%;
    top: 62%; 
    font-size: 20px;
    color:#c44cb4;
}
.button-set-ensaladera{
    z-index: 1;
    position: absolute;
    left: 22%;
    top: 62%; 
    font-size: 20px;
    color:#c44cb4;
}