*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.bg-ligth-gray{
    background-color: #ebebeb;
}
.bg-gray{
    background-color: #b7bdc2;
}
.bg-grullo{
    background-color:#ac918c;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.bg-orange{
    background-color: orange;
}
.font-dark-grey{
    color: #666;
}
.font-black{
    color:black;
}
.font-white{
    color:white;
}
.font-yellow{
    color: #FFCF3C;
}
.font-red{
    color: red;
}

hr{
    height: 10px;
    background-color: #ac918c;
    border: 0px;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.burger-menu{
    width: 20%;
    padding-left: 1%;
}
.logo{
    width: 60%;
}
.paga-en-ctas{
    color: #666;
    background-color: #f3eeed;
    border-top: solid 4px #d56b27;
    height: 32px;
    text-align: center;
    padding: 5px;
}

.banner{
    color: white;
    background-color: #C44cb4 ;
    width: 100vw;
    height: 100px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.nuevos-ingresos{
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #798190;
    border: solid red 2px;
}
.ofertas-descuentos{
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #798190;
    border: solid blue 2px;
}
.mas-notas{
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #798190;
    border: solid  green 2px;
}
.header-iconos{
    width: 20%;
    text-align: right;
    padding-right: 2%;
}
.burger-menu i{ 
    padding: 3%;
    border-radius: 5px;
    color: #6666;
}
.section-categorias{
    width: 100%;
}
#categorias{
    width: 100%;
    text-align: center;
}
.bground-orange{
    background-color: #e9b170;
}
footer{
    background-color: #C0B2A3;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.articulos{
    width: 50%;
    border: 1px solid rgb(0, 0, 0) 
}

.text-img-carrito{
    flex-direction: row;
    font-size: 12px;
}

.text-medidas{
    font-size: 10px;
    text-align: center;
}
