* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 12px;
  color: #798190;
}

/**************************************************************************/
/* BACKGROUNDS Y COLORES DE TEXTO */
/**************************************************************************/
.bg-ligth-gray {
  background-color: #ebebeb;
}
.bg-gray {
  background-color: #b7bdc2;
}
.bg-grullo {
  background-color: #ac918c;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-orange {
  background-color: orange;
}
.bground-orange {
  background-color: #e9b170;
}
.bg-pink {
  background-color: #c44cb4;
}
.background-gris {
  background-color: #ac9593;
}
.font-dark-grey {
  color: #666;
}
.font-black {
  color: black;
}
.font-white {
  color: white;
}
.font-yellow {
  color: #ffcf3c;
}
.font-red {
  color: red;
}

/***************************************************************************/
/*                    FLEX                                                 */
/***************************************************************************/
.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
/***************************************************************************/
/*                    HEADER                                               */
/***************************************************************************/
.burger-menu {
  width: 20%;
  padding-left: 1%;
}

.logo {
  width: 60%;
}

.paga-en-ctas {
  color: #666;
  background-color: #f3eeed;
  border-top: solid 4px #d56b27;
  height: 36px;
  text-align: center;
  padding: 5px;
}

.banner {
  background-color: #c44cb4;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h3 {
  color: white;
  text-align: center;
  max-width: 70vw;
  font-size: 18px;
  color: #f3eeed;
}

main a {
  text-decoration: none;
  color: #798190;
}
/**************************************************************************************/
/*                                       HOME                                         */
/**************************************************************************************/
.nuevos-ingresos {
  text-align: center;
  margin: auto;
  padding: 40px;
  max-width: 70vw;
}
.nuevos-ingresos h3 {
  color: #798190;
  font-size: 24px;
}
.nuevos-ingresos p {
  text-decoration: underline;
  font-size: 18px;
  color: #798190;
}
.ofertas-descuentos {
  text-align: center;
  margin: auto;
  padding: 40px;
  color: #798190;
  max-width: 70vw;
}
.ofertas-descuentos h3 {
  color: #798190;
  font-size: 24px;
}

.ofertas-descuentos p {
  text-decoration: underline;
  font-size: 18px;
  color: #798190;
}
.mas-notas {
  text-align: center;
  margin: auto;
  color: #798190;
}
.mas-notas h3 {
  padding: 8px;
  color: #c44cb4;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.mas-notas h2 {
  padding: 3px;
  border: #c0b2a3 solid 2px;
  color: #c0b2a3;
  font-size: 20px;
}

img {
  width: 100vw;
}
/**************************************************************************/
/*              HEADER                                                    */
/**************************************************************************/
.header-iconos {
  width: 20%;
  text-align: right;
  padding-right: 2%;
}
.burger-menu i {
  padding: 3%;
  border-radius: 5px;
  color: #6666;
}
/**************************************************************************/
/*              FOOTER                                                    */
/**************************************************************************/
footer {
  border-top: #d56b27 4px solid;
  background-color: #c0b2a3;
  color: rgba(0, 0, 0, 0.74);
  height: 100px;
  display: flex;
  justify-content: space-between;
}
/**************************************************************************/
/*              CARRITO                                                    */
/**************************************************************************/
.articulos {
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
}

.text-img-carrito {
  flex-direction: row;
  font-size: 12px;
}

.text-medidas {
  font-size: 10px;
  text-align: center;
}
