.m-center {
    margin: 0 auto;
}
.text-align-c{
   text-align: center;
}
.font-small{
    font-size: 10px;
}
.font-medium{
    font-size: 14px;
}
.font-large{
    font-size: 14px;
}
.font-xlarge{
    font-size: 18px;
}
.p-1{
    padding: 1% 0;    
}
.p-5{
    padding: 5%;
}
.w-input-100{
    width: 100%;
}
