/*************************************************************************************/
/* TAMAÑOS DE FUENTE                                                                 */
/*************************************************************************************/
.font-small {
  font-size: 10px;
}

.font-medium {
  font-size: 12px;
}

.font-large {
  font-size: 14px;
}
.font-xmedium {
  font-size: 16px;
}
.font-xlarge {
  font-size: 18px;
}

.font-size-25 {
  font-size: 25px;
}
.font-xxlarge {
  font-size: 40px;
}

.font-bold {
  font-weight: bold;
}

/*************************************************************************************/
/*              MARGENES                                                             */
/*************************************************************************************/

/********  GENERALES  *********/
.m-center {
  margin: 0 auto;
}

.mp-0 {
  margin: 0px;
  padding: 0px;
}

.m-10 {
  margin: 10px;
}

/********  SIDES  *********/
.mt-5 {
  margin-top: 5%;
}

.mt-1 {
  margin-top: 1%;
}
.mt-3 {
  margin-top: 3%;
}
.mt-10 {
  margin-top: 10%;
}

.mlr-5 {
  margin-left: 3px;
  margin-right: 3px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-left-10 {
  margin-left: 10%;
}
.m-right-5 {
  margin-right: 5%;
}

.mlr-5 {
  margin-left: 5%;
  margin-right: 5%;
}
.mr-5 {
  margin-right: 5%;
}
.pl-2 {
  padding-right: 4%;
}

/*************************************************************************************/
/*              PADDINGS                                                             */
/*************************************************************************************/

/********  GENERALES  *********/

.p-2 {
  padding: 2%;
}

.p-5 {
  padding: 5%;
}

.p-8 {
  padding: 8%;
}

/**********  SIDES  ************/
.ptb-1 {
  padding: 1% 0;
}

.pt-1 {
  padding-top: 1%;
}

.pb-2 {
  padding-bottom: 1%;
}

.pt-5 {
  padding-top: 5%;
}

.pt-15 {
  padding-top: 15%;
}

.pb-5 {
  padding-bottom: 5%;
}

.pb-15 {
  padding-bottom: 15%;
}

.p-lateral-1 {
  padding: 0 1%;
}

.p-lateral-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.p-lateral-8 {
  padding: 0 8%;
}

/*************************************************************************************/
/* TAMAÑOS                                                                           */
/*************************************************************************************/
.w-input-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

/*********************************************************************************/
/* ALINEACIONES                                                                  */
/*********************************************************************************/
.text-align-c {
  text-align: center;
}
.text-align-r {
  text-align: right;
}

.align-center {
  align-items: center;
  text-align: center;
  align-self: center;
}

.text-align-t {
  align-items: top;
}

/*********************************************************************************/
/* DISPLAY                                                                       */
/*********************************************************************************/
.inline-block {
  display: inline-block;
}

.no-display {
  display: none;
}

.disp-block {
  display: block;
}

/*********************************************************************************/
/* FLEX                                                                          */
/*********************************************************************************/
.flex-cont {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.no-wrap {
  flex-wrap: nowrap;
}

.self-end {
  align-self: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.fx-float-right {
  float: right;
}

.align-items-c {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.fx-nwrap {
  flex-wrap: nowrap;
}

.fx-justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.fx-justify-end {
  justify-content: end;
}
/*********************************************************************************/
/* ESTILOS DE TEXTOS                                                                 */
/*********************************************************************************/
.decoration-none {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
a {
  text-decoration: none !important;
}

/*************************************************************************************/
/* POSICIONES                                                                          */
/*************************************************************************************/
.relative {
  position: relative;
}

.left-1 {
  left: 1%;
}

.right-1 {
  right: 1%;
}
