<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD -->
    <%- include('../partials/head') %>

</head>
<body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
        <!--  <form action = "/carritocompras" method="get"></form>
        <section class="section-categorias" >
            <select name="" id="categorias">
                <option value="">Categorías</option>
                <option value="">Biblioteca</option>
                <option value="">Racks</option>
                <option value="">Mesitas de Luz</option>
                <option value="">Sillones</option>
                <option value="">Mesas</option>
                <option value="">Sillas</option>
            </select>
        </section> -->
        <section>
            <h2 class = "pd-5 font-xlarge font-bold">  Carrito de compras </h2>
            <div class = "p-lateral-8 flex-cont"> 
                <div>
                    <div class = "flex-cont" >  
                        <p class ="p-2 font-xmedium "> Inicio/ </p>
                        <p class ="p-2 font-xmedium"> Living/</p>
                        <p class ="p-2 font-xmedium font-bold"> Bibleoteca </p>
                    </div>
                    <img src="/images/products/mueble.PNG" alt="Deco Home" class="articulos w-70">
                </div>
                <div class = "text-img-carrito w-30">
                    <div class="p-8">
                        <label > Estilo </label>
                        <select name="Estilo">
                            <option value="Nordico"> Nordico </option>
                            <option value="Venecia"> Venecia </option>
                            <option value="Roma"> Roma </option>
                        </select>
                    </div>
                    <div class="p-8" >
                        <label> Cantidad </label>
                        <select name="Cantidad">
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                            <option value="3"> 3 </option>
                            <option value="4"> 4 </option>
                            <option value="5"> 5 </option>
                        </select>
                    </div>
                    <div class="p-8">
                        <h4> Caracteristicas del producto </h4>
                            <p class = "text-medidas"> Ancho: 1 m </p>
                            <p class = "text-medidas"> Alto: 2 m </p>
                            <p class = "text-medidas"> Profundidad: 0.25 m </p>
                    </div>
                    <div class="p-8">
                        <label> Es un regalo </label>
                        <input  type = "radio">
                    </div>
                </div>    
            </div>

            <p class = "font-bold font-xmedium mtb-10">Ingrese aqui tu codigo postar para calcular costo de envio:</p>
            <div class = "flex-cont">
                <div class = "w-50">
                    <input type="text" name="codigo-postal" class = "barra-cp w-100">
                </div>
                <div class = "w-50" >
                    <button type = "submit" class="boton-costo-envio w-100"> Calcular costo de envio </button>
                </div>
            </div>

            <div class = "bg-white font-xlarge w-80 text-align-c mtb-10  ">
                <p class = "font-black"> Subtotal: $ 15.000</p>
                <p class = "font-black font-bold"> Total: $ 15.000</p>
                <form action ="/" method="get">
                    <button type = "submit" class = "boton-seguir-comprando"> Agregar al carrito y seguir comprando </button>
                </form>
            </div>
        </section>
        <section>
            <div class = "flex-cont mtb-10 ">
                <div class = "w-50">
                    <p class = "font-large font-bold w-100 m-left-10 "> Al registrarte obtendras un 15 % de descuento en tu primera compra</p>
                </div>
                <div class = "w-50 align-center">
                <form action ="/register" method="get">
                    <button type = "submit" class = "boton-registro w-70 "> REGISTRARME </button>
                </div>
            </div>
            </form>
        </section>
        <section>
            <div class = "w-70 flex-cont fx-float-right ">
                <p class = "font-large font-bold mtb-10 text-align-r m-right-5">Recordá que al iniciar la compra, tendrás un 30%off sobre el total, pagando por transferencia</p>
            </div>
            <form action ="/pago" method="get">
                <div class = "text-align-c" >
                    <button type = "submit" class = "boton-iniciar-compra mtb-10"> INICIAR COMPRA  </button>
                </div>
            </form>
            <div class = "text-align-c pb-5 mt-5">
                <i class="fas fa-truck font-xlarge pb-2 "></i>
                <p class = "font-medium font-bold pb-2 "> ENVIOS A TODO EL PAIS </p>
                <p class = "font-medium pb-2 "> Retira gratis por nuestras sucursales </p>
            </div>
            <div class = "text-align-c pb-5 ">
                <i class="fas fa-credit-card font-xlarge pb-2 "></i>
                <p class = "font-medium font-bold pb-2 "> PAGA EN CUOTAS SIN INTERES </p>
                <p class = "font-medium pb-2 "> Tarjetas de credito o efectivo </p>
            </div>
            <div class = "text-align-c pb-5 ">
                <i class="fas fa-lock font-xlarge pb-2 " > </i>
                <p class = "font-medium font-bold pb-2 "> SITIO SEGURO </p>
                <p class = "font-medium pb-2 "> Protegemos tus datos </p>
            </div>

        </section>
    </form>
    </main>
    
    <!--FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>