<!DOCTYPE html>
<html lang = "en">
    <head>
        <!--HEAD -->
        <%- include('../partials/head') %>
    </head>
    <body>
        <!--HEADER -->
        <%- include('../partials/header') %>
        <main>
            <%= users.name[1] %> 
        </main>

    </body>
    <footer>
        <!--FOOTER -->
    <%- include('../partials/footer') %>
    </footer>
</html>