<!DOCTYPE html>
<html lang="en">
  <!--HEAD -->
  <%- include('../partials/head') %>

  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
      <!--section para formulario-->
      <section class="pt-5 p-lateral-5">
        <form action="/" method="get" class="form-field">
          <div class="mt-5">
            <label for="email" class="input-label">E-mail</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-input input-shadow"
              placeholder="juanperez@mail.com"
            />
          </div>
          <div class="mt-5">
            <label for="pass" class="input-label">Contraseña</label>
            <input
              type="password"
              name="pass"
              id="pass"
              class="form-input input-shadow"
              placeholder="********"
            />
          </div>
          <div class="mt-5 text-align-c">
            <input type="checkbox" name="recordar" id="recordar" class="w-10" />
            <label for="recordar" class="w-40"
              >Recordar usuario y contraseña</label
            >
          </div>
          <div>
            <button
              type="submit"
              class="button w-100 bg-pink font-white font-xlarge font-bold input-shadow"
            >
              INICIA SESION
            </button>
          </div>
          <div class="text-align-c">
            <span
              ><a href="/" class="underline">¿Olvidaste tu contraseña?</a></span
            >
          </div>
          <div></div>
        </form>
      </section>
      <!--section ya tenes cuenta-->
      <section
        class="p-lateral-5 text-align-c mt-5 flex-cont wrap fx-justify-center pb-15"
      >
        <div>
          <span class="font-xlarge w-50">¿No tenés cuenta?</span>
        </div>
        <div>
          <a href="/register"><h3 class="font-xlarge">Regístrate</h3></a>
        </div>
      </section>
      <!-- section envios-->
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
