<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head') %>
  </head>
  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main class="pt-5">
      <!--section para formulario-->
      <section
        class="container products-wrapper overflow-hidden form-register mt-1"
      >
        <form action="/users/register" method="POST" class="form-field">
          <div class="row mt-3">
            <div class="col-12 col-md-6">
              <label for="nombre" class="form-label col-12">Nombre</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="form-control col-12"
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="apellido" class="form-label">Apellido</label>
              <input
                type="text"
                name="apellido"
                id="apellido"
                class="form-control"
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="email" class="form-label">E-mail</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="juanperez@mail.com"
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="tlf" class="form-label">Teléfono</label>
              <input
                type="tel"
                name="telefono"
                id="telefono"
                class="form-control"
                placeholder="+54 9 11 74128653"
              />
            </div>
            <div class="col-12">
              <label for="direccion" class="form-label">Dirección</label>
              <input
                type="text"
                name="direccion"
                id="direccion"
                class="form-control"
                placeholder="Av. Rivadavia 1500, 1ro A. CABA "
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="pass" class="form-label">Contraseña</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="********"
              />
            </div>
            <div class="col-12 col-md-6">
              <label for="password" class="form-label"
                >Confirma tu contraseña</label
              >
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="********"
              />
            </div>          
            </div>
            <div class="col-12 mt-3 align-center mt-5">
              <button type="submit" class="btn bg-pink btn-lg font-white reg">
                CREAR CUENTA
              </button>
            </div>            
          </div>
        </form>
        <div class="row mt-3">
          <div class="col-12 text-align-c">
            <label for="" class="form-label font-xlarge"
              >Ya tenés cuenta?</label
            >
            <a href="/users/login" class="font-xlarge font-bold">
              Inicia sesión</a
            >
          </div>
        </div>
        <!-- section envios-->
        <div class="col-12 text-align-c mt-5"> <i class="fas fa-truck font-xxlarge"></i></div>
        <div class="col-12 text-align-c"> ¡ENVIAMOS A TODO EL PAIS!</div>
        <div class="col-12 text-align-c pb-2"> <h3>Por Correo Argentino, OCA o transporte de tu preferencia</h3></div>
        
      </section>      
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
