<!DOCTYPE html>
<html lang="en">
  <!--HEAD -->
  <%- include('../partials/head') %>

  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main class="pt-5">
      <!--section para formulario-->
      <section class="p-lateral-5">
        <form action="/" method="get" class="form-field">
          <div>
            <label for="nombre" class="input-label">Nombre y apellido</label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              class="form-input input-shadow"
            />
          </div>
          <div class="mt-5">
            <label for="email" class="input-label">E-mail</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-input input-shadow"
              placeholder="juanperez@mail.com"
            />
          </div>
          <div class="mt-5">
            <label for="tlf" class="input-label">Teléfono</label>
            <input
              type="tel"
              name="tlf"
              id="tlf"
              class="form-input input-shadow"
              placeholder="+54 9 11 74128653"
            />
          </div>
          <div class="mt-5">
            <label for="pass" class="input-label">Contraseña</label>
            <input
              type="password"
              name="pass"
              id="pass"
              class="form-input input-shadow"
              placeholder="********"
            />
          </div>
          <div class="mt-5">
            <label for="pass" class="input-label">Confirma tu contraseña</label>
            <input
              type="rpassword"
              name="rpass"
              id="rpass"
              class="form-input input-shadow"
              placeholder="********"
            />
          </div>
          <div class="flex-captcha">
            <input
              type="checkbox"
              name="captcha"
              id="captcha"
              class="w-10"
              placeholder="*********"
            />
            <label for="pass" class="w-40">No soy un robot</label>

            <img src="/images/captcha.png" alt="" width="20%" class="w-20" />
          </div>
          <div class="mt-3">
            <button
              type="submit"
              class="button w-100 bg-pink font-white font-xlarge font-bold input-shadow"
            >
              CREAR CUENTA
            </button>
          </div>
        </form>
      </section>
      <!--section ya tenes cuenta-->
      <section
        class="p-lateral-5 text-align-c mt-3 flex-cont wrap fx-justify-center"
      >
        <div>
          <span class="font-xlarge w-50">¿Ya tenés cuenta?</span>
        </div>
        <div>
          <a href="/login"><h3 class="font-xlarge">Inicia sesión</h3></a>
        </div>
      </section>
      <!-- section envios-->
      <section class="text-align-c pt-5 pb-5">
        <div class="mt-3"><i class="fas fa-truck font-xxlarge"></i></div>
        <div class="mt-3"><h2>¡ENVIAMOS A TODO EL PAIS!</h2></div>
        <div class="mt-1 font-small">
          <h3>Por Correo Argentino, OCA o transporte de tu preferencia</h3>
        </div>
      </section>
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
