<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco Home</title>
    <!-- Fuentes  a usar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=Open+Sans:wght@300;500;700&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <!--CSS media queries-->
    <link rel="stylesheet" href="/css/style-tablet.css" />
    <link rel="stylesheet" href="/css/style-desktop.css" />
</head>
<body>
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
        <div class="banner"> <a href="/catalogo2"> <h3> Mirá nuestro nuevo catálogo: ESPECIAL COCINAS</h3> </div>
       <section>
            <article><h2 class="punto-menu"><a href="/catalogo" class="color-pm">Muebles > </a><a href="/living" class="color-pm">Living > </a><a href="/producto" class="color-pm">Estante  </a></h2>
                <img class="estante" src = '/images/mueble.PNG' alt="estantes living">
                <p><h2 class="producto">Estante Homedecor #1 <i class="fas fa-share-alt producto"></i> </h2></p> 
                <div class="articulos">
                    <p class="precio">$20.000</p>
                    <p class="cuotas"> <i class="far fa-credit-card"></i> 12 cuotas sin interés de $1666.67</p>
                    <p class="cuotas"> <i class="fas fa-truck"></i> Aprovechá nuestro envío gratis </p>
                </div>
        
                <p class="adicionales"> Medidas Disponibles: 107 cm x 35 cm x 200 cm </p>
                <p class="botones"> <button> <a href="/carrito">Comprar</a></button>  </p>
                <p class="botones"> <button> Agregar a Favoritos </button></p>
                <p class="adicionales highlighted"> Descripción del Producto :</p>
                <p class="adicionales">Biblioteca Minimal. Estructura fabricada en hierro 20x20mm. Estantes y fondo en madera. Terminación laqueado poliuretánico negro semimate. ***Este productos es 100% customizable***</p>
                <div>
                    <p> <ul class="adicionales highlighted" >Detalles :</ul>  </p>
                        <li class="adicionales"> Calidad garantizada </li>
                        <li class="adicionales"> Accesibilidad </li>
                        <li class="adicionales"> Producto de fácil instalación </li>  
                </div>
            </article>
        </section>
        <section>
            <div class="mas-productosv1"> Tambien podría interesarte </div>
            <a href="/producto/rack-tv"></a><img class="estante mas-productos" src = '/images/rack-tv.jpg' alt="rack tv">
            <a href="/producto/sillon"></a><img class="estante mas-productos" src = '/images/sillon.jpg' alt="sillon">
            <a href="/producto/mesa-comedor"></a><img class="estante mas-productos" src = '/images/mesa-comedor.jpg' alt="mesa-comedor">
            <a href="/producto"></a><img class="estante mas-productos" src = '/images/mueble.PNG' alt="estantes living">
        </section>

        <div class="ofertas-descuentos">
            <a href="/ofertas"><h3> OFERTAS & DESCUENTOS </h3> <p> SHOP</p></a>
        </div>

        <div class=" nuevos-ingresos"> 
            <a href="/ingresos"><h3> NUEVOS INGRESOS</h3> <p> SHOP</p></a>
        </div>

        <div class="mas-notas">
            <h3> ULTIMAS EDITORIALES: </h3>
        </div>
        
        <div> <a href="/ultimas-tendencias-livings">  <h2> Modernizá tu living con las últimas tendencias </h2>
            <img src='/images/living/AdobeStock_301581906_Preview.jpeg' alt="Últimas-tendencias-livings"></a>
        </div>

    </main>
    
     <!--FOOTER -->
     <%- include('../partials/footer') %>
</body>
</html>